<!-- <div class="dropdown pt-4 pl-2">
                                <button v-on:click="myFunctionOra" class="dropbtn">
                                    {{ labelOraDropDown }}
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                    <div id="OrarioDropDown" class="dropdown-content">
                                        <input type="text" placeholder="Search.." id="OrarioInput">
                                        <a v-on:click="aggiornaOra('15:00')">15:00</a>
                                        <a v-on:click="aggiornaOra('16:00')">16:00</a>
                                        <a v-on:click="aggiornaOra('17:00')">17:00</a>
                                        <a v-on:click="aggiornaOra('18:00')">18:00</a>
                                    </div>
                            </div>
-->

<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta charset="UTF-8">
    <title>Ripetizioni</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
<div id="spa">
        <span v-if="paginaLogIn">
            <div class="d-flex flex-column min-vh-100 justify-content-center  align-items-center">
                <form method="get">
                    <div class="mb-3">
                        <label for="InputNomeUtente" class="form-label">Nome utente</label>
                        <input v-model="InputNomeUtente" type="text" class="form-control" id="InputNomeUtente"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="InputPassword" class="form-label">Password</label>
                        <input v-model="InputPassword" type="password" class="form-control" id="InputPassword">
                    </div>
                    <div class="row justify-content-center">
                        <button v-on:click="transit" type="button" class="btn btn-primary">Log in</button>
                    </div>
                </form>
                <p>{{messaggio}}</p>
            </div>
        </span>
    <span v-if="homeUtente">
        <div class="row justify-content-end" v-if="ospite">
            <div class="d-grid gap-2 d-md-block mx-4"> <!--mx-4 serve per mettere il margine-->
                <button class="btn btn-secondary" type="button" v-on:click="AutenticazioneUtente">Login</button>
            </div>
        </div>
        <div class="row justify-content-end" v-else>
            <div class="dropdown dimDrop" id="DropDownUser">
                <button v-on:click="myFunction('LoginDropDown')" class="dropbtn" >
                    NOME UTENTE
                    <i class="fa fa-angle-down"></i>
                </button>
                <div id="LoginDropDown" class="dropdown-content pt-2" >
                    <p v-on:click="transitCambioPassword" class="ml-2">Cambia Password</p>
                    <p v-on:click="logOut" class="ml-2">Logout</p>
                </div>
            </div>
        </div>
        <div class="event-schedule-area-two bg-color pad100">
            <div class="row bg-light"> <!-- bg-light serve per far colorare tutta la riga-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <!-- Serve per fare il menu a tendina-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- FINE-->
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav sticky-bottom sticky-bottom bg-light">
                            <div class="container-fluid">
                                <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                <a class="nav-item nav-link" href="#">Prenotazioni</a>
                                <a class="nav-item nav-link" href="#">Storico</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row justify-content-end" v-if="!ospite">
            <div class="d-grid gap-2 d-md-block mx-4 pt-2"> <!--mx-4 serve per mettere il margine-->
                <i class="fa fa-shopping-cart fa-xl" aria-hidden="true"></i>
            </div>
        </div>
        <div class="mx-auto" style="width: 45%;">
            <div class="row justify-content-around">
                <div class="dropdown">
                    <button v-on:click="myFunction('DocentiDropDown')" class="dropbtn">
                        {{ labelDocentiDropDown[4] }}
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <div id="DocentiDropDown" class="dropdown-content">
                        <input type="text" placeholder="Search.." id="DocenteInput" v-on:keyup="filterFunction('DocenteInput','DocentiDropDown')">
                        <div v-for="docente in docentiL">
                            <a v-on:click="getElementoSel(docente.matricola, 'DocentiDropDown')">{{ `${docente.matricola} ${docente.cognome}` }}</a>
                        </div>
                    </div>
                </div>
                <div class="dropdown mx-2">
                    <button v-on:click="myFunction('CorsiDropDown')" class="dropbtn">
                        {{ labelCorsiDropDown[4] }}
                        <i class="fa fa-angle-down"></i>
                    </button>
                        <div id="CorsiDropDown" class="dropdown-content">
                            <input type="text" placeholder="Search.." id="CorsoInput" v-on:keyup="filterFunction('CorsoInput', 'CorsiDropDown')">
                            <div v-for="corso in corsiL">
                                <a v-on:click="getElementoSel(corso.codice, 'CorsiDropDown')">{{ `${corso.codice} ${corso.titolo_corso}` }}</a>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button v-on:click="caricaPrenotazioni" type="submit" class="btn btn-primary btn-lg">Cerca</button>
            </div>
        </div>
        <div class="container">
            <div class="event-schedule-area-two bg-color pad100">
                <div class="row">
                    <div class="col-lg-12 .d-sm-none .d-md-block">
                        <div class="row justify-content-center">
                            <ul class="nav custom-tab" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active show" id="tabLunedì" data-toggle="tab" role="tab" aria-selected="true" v-on:click="aggiornaOrariDisp('Lunedì')">Lunedì</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tabMartedì" data-toggle="tab" role="tab" aria-selected="false"  v-on:click="aggiornaOrariDisp('Martedì')">Martedì</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tabMercoledì" data-toggle="tab" role="tab" aria-selected="false" v-on:click="aggiornaOrariDisp('Mercoledì')">Mercoledì</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tabGiovedì" data-toggle="tab" role="tab" aria-selected="false" v-on:click="aggiornaOrariDisp('Giovedì')">Giovedì</a>
                                </li>
                                <li class="nav-item mr-0">
                                    <a class="nav-link d-none d-lg-block" id="tabVenerdì" data-toggle="tab" role="tab" aria-selected="false" v-on:click="aggiornaOrariDisp('Venerdì')">Venerdì</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col pl-5">
                <span v-if="mostraCards">
                    <table class="table ml-5">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">Data</th>
                                <th scope="col">Docente</th>
                                <th scope="col">Materia</th>
                                <th  scope="col">Aggiungi</th>
                            </tr>
                        </thead>
                        <!--INIZIO CARD-->
                        <tbody>
                            <tr class="inner-box" v-for="(orarioDisp,index) in orariDisp" v-bind:id="`${orarioDisp}`">
                                <th scope="row">
                                    <div class="event-date text-center">
                                        <p>{{ giornoSelezionato }}</p>
                                        <span>{{ orarioDisp }}</span>
                                    </div>
                                </th>
                                <td>
                                    <div class="thumb" v-if="(labelDocenteScelto != null && labelDocenteScelto.matricola !== 0)">
                                        <img src="https://www.bootdey.com/app/webroot/img/Content/Manbrown2.png"/>
                                        <p pl-2>{{ labelDocenteScelto.cognome }}</p>
                                    </div>
                                    <div class="thumb" v-else>
                                        <div class="dropdown" v-bind:id="`DD ${orarioDisp}`">
                                            <button v-on:click="myFunction(`DDC ${orarioDisp}`)" class="dropbtn">
                                                {{ labelDocentiDropDown[hourToIndex(`${orarioDisp}`)] }} <!--labelDocentiDropDown[daytoindex(id)] -->
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <div v-bind:id="`DDC ${orarioDisp}`" class="dropdown-content">
                                                <input type="text" placeholder="Search.." v-on:keyup="filterFunction(' `input ${orarioDisp}` ',' `DDC ${orarioDisp}` ')" v-bind:id=" `input ${orarioDisp}`">
                                                <div v-for="docente in docentiL">
                                                    <a v-on:click="getElementoSel(docente.matricola, `DDC ${orarioDisp}`)">{{ `${docente.matricola} ${docente.cognome}` }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="thumb" v-if="labelCorsoScelto != null && labelCorsoScelto.codice !== 0">
                                        <p pl-2>{{ labelCorsoScelto.titolo_corso }}</p>
                                    </div>
                                    <div class="thumb" v-else>
                                        <div class="dropdown mx-2" v-bind:id="`DC ${orarioDisp}`">
                                            <button v-on:click="myFunction(`DCC ${orarioDisp}`)" class="dropbtn">
                                                {{temp}}
                                                {{labelCorsiDropDown[hourToIndex(`${orarioDisp}`)]}}
                                                <i class="fa fa-angle-down"></i>
                                            </button>
                                            <div v-bind:id="`DCC ${orarioDisp}`" class="dropdown-content">
                                                <input type="text" placeholder="Search.." v-bind:id="`input ${orarioDisp}`" v-on:keyup="filterFunction(`input ${orarioDisp}`, `DCC ${orarioDisp}`)">
                                                <div v-for="corso in corsiL">
                                                    <a v-on:click="getElementoSel(corso.codice, `DCC ${orarioDisp}`)">{{ `${corso.codice} ${corso.titolo_corso}` }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="primary-btn" v-if="!ospite" v-bind:id="`B ${orarioDisp}`">
                                        <a class="btn btn-primary">Aggiungi al carrello</a>
                                    </div>
                                    <div class="primary-btn" v-else>
                                        <a class="btn btn-primary" v-on:click="AutenticazioneUtente">Loggati</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>

                        <!--FINE CARD-->

                    </table>
                </span>
            </div>
        </div>
    </span>
    <span v-if="cambiaPwd">
        <div class="d-flex flex-column min-vh-100 justify-content-center  align-items-center">
           <form method="get">
                <div class="input-group mb-3">
                    <input id="vecchiaPassword" type="password" class="form-control" placeholder="Inserisci Vecchia Password" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" v-on:click="mostraPassword('vecchiaPassword')">
                            <span v-if="mostraVp">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </span>
                            <span v-else>
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input id="nuovaPassword" type="password" class="form-control" placeholder="Inserisci Nuova Password" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"  v-on:click="mostraPassword('nuovaPassword')">
                            <span v-if="mostraNp">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </span>
                            <span v-else>
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </div>
               <div class="input-group mb-3">
                    <input id="CnuovaPassword" type="password" class="form-control" placeholder="Conferma Nuova Password" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" v-on:click="mostraPassword('CnuovaPassword')">
                            <span v-if="mostraCNp">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </span>
                            <span v-else>
                                <i class="fa fa-eye-slash" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button v-on:click="postCambiaPwd('vecchiaPassword','nuovaPassword','CnuovaPassword')" type="button" class="btn btn-primary">Conferma</button>
                </div>
               <p>{{ messaggio }}</p>
           </form>
        </div>
    </span>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#spa',
        data: {
            utente: null,
            InputNomeUtente: null,
            InputPassword: null,
            messaggio: "",
            paginaLogIn: false,
            homeUtente: true,
            cambiaPwd: false,
            ospite: true,
            insegnamenti: [],
            docenti: [{"matricola":0,"nome":"","cognome":"Scegli Docente","stato":true}],
            docentiL: [{"matricola":0,"nome":"","cognome":"Scegli Docente","stato":true}],
            docenteScelto: null,
            labelDocenteScelto: null,
            corsi: [{"codice":0,"titolo_corso":"Scegli Corso","stato":true}],
            corsiL: [{"codice":0,"titolo_corso":"Scegli Corso","stato":true}],
            corsoScelto: null,
            labelCorsoScelto: null,
            labelDocentiDropDown: ["Scegli Docente", "Scegli Docente", "Scegli Docente", "Scegli Docente", "Scegli Docente"],
            labelCorsiDropDown: ["Scegli Corso", "Scegli Corso", "Scegli Corso", "Scegli Corso", "Scegli Corso"],
            labelOraDropDown: "Scegli Ora",
            prenotazioni: null,
            giornoSelezionato: null,
            mostraCards: false,
            temp: " ",
            orariDisp: [],
            orariLun: [],
            orariMar: [],
            orariMer: [],
            orariGio: [],
            orariVen: [],
            mostraVp: true,
            mostraNp: true,
            mostraCNp: true,
        },
        methods: {
            AutenticazioneUtente: function () {
                var self = this;
                self.paginaLogIn = true;
                self.homeUtente = false;
            },
            transit: function () {
                var self = this;
                self.messaggio = "";
                if (self.InputNomeUtente == null && self.InputPassword == null || self.InputNomeUtente === "" || self.InputPassword === "") {
                    self.messaggio = "i campi sono vuoti";
                } else {
                    $.get("http://localhost:8081/Ripetizioni_war_exploded/ServletAuth", {login: self.InputNomeUtente, password: self.InputPassword},
                        function (data) {
                            self.utente = data;
                            if (self.utente != null) {
                                if (self.utente.nome_utente == null) {
                                    if (self.utente.stato === true) {
                                        self.messaggio = "password errata";
                                    } else {
                                        self.messaggio = "utente inesistente";
                                    }
                                } else {
                                    self.paginaLogIn = false;
                                    self.homeUtente = true;
                                    self.ospite = false;
                                    //self.getInsegnamenti();
                                    self.giornoSelezionato = "Lunedì";
                                }
                            } else {
                                self.messaggio = "errore richiesta";
                            }
                        }
                    );
                }
            },
            getInsegnamenti: function () {
                var self = this;
                $.get("http://localhost:8081/Ripetizioni_war_exploded/ServletInsegnamenti", {},
                    function (data) {
                        let i;
                        let flag;
                        console.log(data);
                        self.insegnamenti = data;
                        for(i = 0; i < self.insegnamenti.length; i++){
                            flag = true;
                            for(let j = 1; j < self.docenti.length; j++){
                                if(self.docenti[j].matricola === self.insegnamenti[i].docente.matricola){
                                    flag = false;
                                    break;
                                }
                            }
                            if(flag){
                                self.docenti.push(self.insegnamenti[i].docente);
                            }
                        }

                        for(i = 0; i < self.insegnamenti.length; i++){
                            flag=true;
                            for(let j = 1; j < self.corsi.length; j++){
                                if(self.corsi[j].codice === self.insegnamenti[i].corso.codice){
                                    flag=false;
                                    break;
                                }
                            }
                            if(flag){
                                self.corsi.push(self.insegnamenti[i].corso);
                            }
                        }

                        for(i = 1; i < self.docenti.length; i++){
                            self.docentiL.push(self.docenti[i]);
                        }

                        for(i = 1; i < self.corsi.length; i++){
                            self.corsiL.push(self.corsi[i]);
                        }
                    }
                );
            },
            myFunction: function (id) {
                document.getElementById(id).classList.toggle("show");
            },

            getElementoSel: function (chiave, id) {
                var self = this;
                console.log(chiave);
                console.log(id);
                console.log(id.split(" ")[0]);
                if(id.split(" ")[0] === "DDC" ){ // Dropdown Docenti content
                    for(let i = 0; i < self.docenti.length; i++){
                        if(self.docenti[i].matricola === chiave){
                            //self.docenteScelto = self.docenti[i]; //da commentare
                            document.getElementById(id).classList.toggle("show");
                            self.labelDocentiDropDown[self.hourToIndex(id.split(" ")[1])] = self.docenti[i].cognome;
                            console.log("label 387 " + self.docenti[i].cognome);
                            console.log("label 388 " + self.labelDocentiDropDown[self.hourToIndex(id.split(" ")[1])]);
                            break;
                        }
                    }
                    self.aggiornaCorsi(chiave);
                }else if(id.split(" ")[0] === "DCC"){//Dropdown Corsi content
                    console.log("errore");
                    for(let i = 0; i < self.corsi.length; i++){
                        if(self.corsi[i].codice === chiave){
                            //self.corsoScelto = self.corsi[i];
                            //console.log(self.corsoScelto.titolo_corso);
                            document.getElementById(id).classList.toggle("show");
                            self.labelCorsiDropDown[self.hourToIndex(id.split(" ")[1])] = self.corsi[i].titolo_corso;
                            console.log("label 409 " + self.corsi[i].titolo_corso);
                            console.log("label 410" + self.labelCorsiDropDown[self.hourToIndex(id.split(" ")[1])]);
                            self.temp = self.labelCorsiDropDown[self.hourToIndex(id.split(" ")[1])];
                            self.temp = null;
                            break;
                        }
                    }
                    self.aggiornaDocenti(chiave);
                }else if(id.split(" ")[0] === "DocentiDropDown"){
                    for(let i = 0; i < self.docenti.length; i++){
                        if(self.docenti[i].matricola === chiave){
                            self.docenteScelto = self.docenti[i];
                            document.getElementById(id).classList.toggle("show");
                            self.labelDocentiDropDown[4] = self.docenteScelto.cognome;
                            break;
                        }
                    }
                    self.aggiornaCorsi(chiave);
                }else if(id.split(" ")[0] === "CorsiDropDown"){
                    for(let i = 0; i < self.corsi.length; i++){
                        if(self.corsi[i].codice === chiave){
                            self.corsoScelto = self.corsi[i];
                            console.log(self.corsoScelto.titolo_corso);
                            document.getElementById(id).classList.toggle("show");
                            self.labelCorsiDropDown[4] = self.corsoScelto.titolo_corso;
                            break;
                        }
                    }
                    self.aggiornaDocenti(chiave);
                }
                console.log("stampa corsi");
                for(let i = 0; i < self.labelCorsiDropDown.length; i++){
                    console.log(self.labelCorsiDropDown[i]);
                }
                console.log("fine stampa corsi");
                console.log("stampa docenti");
                for(let i = 0; i < self.labelDocentiDropDown.length; i++){
                    console.log(self.labelDocentiDropDown[i]);
                }
                console.log("fine stampa docenti");
            },
            aggiornaDocenti: function (codice) {
                var self = this;
                console.log("405"+codice);
                if(self.corsoScelto != null){
                    if(self.corsoScelto.codice !== 0){
                        self.docentiL = [{"matricola":0,"nome":"","cognome":"Scegli Docente","stato":true}];
                        for(let i = 0; i < self.insegnamenti.length; i++){
                            if(self.insegnamenti[i].corso.codice === self.corsoScelto.codice){
                                self.docentiL.push(self.insegnamenti[i].docente);
                            }
                        }
                    } else {
                        self.corsoScelto = null;
                        for(let i = 0; i < self.docenti.length; i++){
                            let flag = true;
                            for(let j = 0; j < self.docentiL.length; j++){
                                if(self.docentiL[j].matricola === self.docenti[i].matricola){
                                    flag = false;
                                    break;
                                }
                            }
                            if(flag){
                                self.docentiL.push(self.docenti[i]);
                            }
                        }
                    }
                }
                console.log("430"+ self.corsiL[0]);
            },
            aggiornaCorsi : function (matricola){
                var self = this;
                let flag = true;
                console.log(matricola);
                if(self.docenteScelto != null){
                    if(self.docenteScelto.matricola !== 0){
                        self.corsiL=[{"codice":0,"titolo_corso":"Scegli Corso","stato":true}];
                        for(let i=0;i<self.insegnamenti.length;i++){
                            if(self.insegnamenti[i].docente.matricola === self.docenteScelto.matricola){
                                self.corsiL.push(self.insegnamenti[i].corso);
                            }
                        }
                    }else{
                        self.docenteScelto=null;
                        for(let i=0;i<self.corsi.length;i++){
                            flag=true;
                            for(let j = 0; j < self.corsiL.length; j++){
                                if(self.corsiL[j].codice === self.corsi[i].codice){
                                    flag=false;
                                    break;
                                }
                            }
                            if(flag){
                                self.corsiL.push(self.corsi[i]);
                            }
                        }
                    }
                }
            },
            filterFunction: function (idInput, idDD) {
                var input, filter, a, i, div;
                input = document.getElementById(idInput); // "CorsoInput"
                filter = input.value.toUpperCase();
                div = document.getElementById(idDD); //"CorsiDropDown"
                a = div.getElementsByTagName("a");
                for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";
                    }
                }
            },
            caricaPrenotazioni: function () {
                var self = this;
                for(let i = 0; i < self.labelCorsiDropDown.length - 1; i++){
                    self.labelCorsiDropDown[i] = "Scegli Corso";
                    self.labelDocentiDropDown[i] = "Scegli Docente";
                }
                if((self.corsoScelto != null && self.corsoScelto.codice !== 0) || (self.docenteScelto != null && self.docenteScelto.matricola !== 0)) {
                    var matricolaDoce = "null";
                    var codCorso = "null";
                    var usr = "null";

                    if(self.docenteScelto !=null ){
                        matricolaDoce = self.docenteScelto.matricola;
                    }
                    if(self.corsoScelto != null){
                        codCorso = self.corsoScelto.codice;
                    }
                    if(self.utente != null){
                        usr = self.utente.nome_utente;
                    }


                    $.get("http://localhost:8081/Ripetizioni_war_exploded/ServletPrenotazioni", {docente: matricolaDoce, corso: codCorso, utente: usr},
                        function (data) {
                            self.orariLun = [];
                            self.orariMar = [];
                            self.orariMer = [];
                            self.orariGio = [];
                            self.orariVen=[];
                            self.prenotazioni = data;
                            for(let i = 0; i < self.prenotazioni.length; i++){
                                for(let j = 0; j < self.prenotazioni[i].length; j++){
                                    switch (j) {
                                        case 0:
                                            if( self.prenotazioni[i][j] === 0){
                                                self.orariLun.push(self.indexToHour(i));
                                            }
                                            break;
                                        case 1:
                                            if( self.prenotazioni[i][j] === 0){
                                                self.orariMar.push(self.indexToHour(i));
                                            }
                                            break;
                                        case 2:
                                            if( self.prenotazioni[i][j] === 0){
                                                self.orariMer.push(self.indexToHour(i));
                                            }
                                            break;
                                        case 3:
                                            if( self.prenotazioni[i][j] === 0){
                                                self.orariGio.push(self.indexToHour(i));
                                            }
                                            break;
                                        case 4:
                                            if( self.prenotazioni[i][j] === 0){
                                                self.orariVen.push(self.indexToHour(i));
                                            }
                                            break;
                                    }
                                }
                            }
                            self.aggiornaOrariDisp(self.giornoSelezionato);
                            self.labelCorsoScelto = self.corsoScelto;
                            self.labelDocenteScelto = self.docenteScelto;
                        }
                    );
                }
            },
            indexToHour: function (indice){
                let orario = "";
                switch(indice){
                    case 0:
                        orario = "15:00:00";
                        break;
                    case 1:
                        orario =  "16:00:00";
                        break;
                    case 2:
                        orario =  "17:00:00";
                        break;
                    case 3:
                        orario = "18:00:00";
                        break;
                    default:
                        console.log("errore traduzione da indice a ora");
                }
                return orario;
            },
            hourToIndex: function (ora) {
                let index = null;
                switch(ora){
                    case "15:00:00":
                        index = 0;
                        break;
                    case "16:00:00":
                        index =  1;
                        break;
                    case "17:00:00":
                        index = 2;
                        break;
                    case "18:00:00":
                        index = 3;
                        break;
                    default:
                        console.log("627 " + ora);
                        console.log("errore traduzione da ora a indice");
                }
                console.log("ora" + ora);
                console.log("index" + index);
                console.log( this.labelCorsiDropDown[index]);
                return index;
            },
            aggiornaOrariDisp: function (giorno){
                var self = this;
                for(let i = 0; i < self.labelCorsiDropDown.length - 1; i++){
                    self.labelCorsiDropDown[i] = "Scegli Corso";
                    self.labelDocentiDropDown[i] = "Scegli Docente";
                }
                self.giornoSelezionato = giorno;
                switch (giorno) {
                    case 'Lunedì':
                        self.orariDisp = self.orariLun;
                        break;
                    case 'Martedì':
                        self.orariDisp = self.orariMar;
                        break;
                    case 'Mercoldì':
                        self.orariDisp = self.orariMer;
                        break;
                    case 'Giovedì':
                        self.orariDisp = self.orariGio;
                        break;
                    case 'Venerdì':
                        self.orariDisp = self.orariVen;
                        break;
                }
                self.mostraCards = self.orariDisp.length > 0;
                for(let i = 0; i < self.orariDisp.length; i++){
                    console.log(self.orariDisp[i]);
                }
            },
            transitCambioPassword: function () {
                var self = this;
                console.log("ciao");
                self.cambiaPwd = true;
                self.homeUtente = false;
            },
            mostraPassword: function (id){
                var self = this;
                if(id === "vecchiaPassword"){
                    self.mostraVp = !self.mostraVp;
                } else if(id === "nuovaPassword"){
                    self.mostraNp = !self.mostraNp;
                } else if(id === "CnuovaPassword"){
                    self.mostraCNp = !self.mostraCNp;
                }
                document.getElementById(id).setAttribute("type", document.getElementById(id).getAttribute("type") === "password" ? "text" : "password");
            },
            postCambiaPwd: function (idVp, idNp, idCNp){
                var self = this;
                var vp = document.getElementById(idVp).value;
                var np = document.getElementById(idNp).value;
                var cnp = document.getElementById(idCNp).value;
                $.get("http://localhost:8081/Ripetizioni_war_exploded/ServletImpostazioni", {nomeUtente: self.utente.nome_utente, vecchiaPassword: vp.toString(), nuovaPassword: np.toString(), confermaNuovaPassword: cnp.toString()},
                    function (data) {
                        if(data){
                            self.messaggio="Cambio andato a buonfine";
                            self.homeUtente = true;
                            self.cambiaPwd = false;
                        } else {
                            self.messaggio="Errore in cambio password";
                        }
                    }
                );
            },
            logOut: function (){
                var self = this;
                $.get("http://localhost:8081/Ripetizioni_war_exploded/ServletLogOut", {},
                    function (data) {
                        if(data){
                            self.homeUtente = true;
                            self.ospite = true;
                        }
                    }
                );
            }
        },
        mounted(){
            this.getInsegnamenti();
        },
    })
</script>
</body>
</html>